.cards__delete-button {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19.3px;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/delete_card.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    object-fit: contain;
    align-self: center;
    opacity: 1;
}

.cards__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}