.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    gap: 0 15px;
}

@media screen and (max-width: 1024px) {
    .cards {
        gap: 0 35px;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        gap: 0 15px;
    }
}