.popup__input {
    height: 27px;
    color: black;
    margin: 25px 0 5px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #00000033;
    outline: none;
}

.popup__input:first-child {
    margin-top: 0;
}

.popup__input:last-of-type {
    margin-bottom: 43px;
}

@media screen and (max-width: 630px) {
    .popup__input {
        height: 23px;
    }
}