.login__input {
  height: 27px;
  color: white;
  margin: 25px 0 5px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: black;
  outline: none;
}

.login__input:first-child {
  margin-top: 0;
}

.login__input:last-of-type {
  margin-bottom: 189px;
}

@media screen and (max-width: 630px) {
  .login__input:last-of-type {
    margin-bottom: 173px;
  }
}
