.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    background-color: transparent;
    background-image: url(../../../images/white-plus_optimized.png);
    background-repeat: no-repeat;
    box-sizing: 150px 120px;
    object-fit: contain;
    background-position: center;
    border: 2px solid white;
    opacity: 1;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .profile__add-button {
        min-width: 130px;
    }
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        min-width: 100px;
    }
}

@media screen and (max-width: 630px) {
    .profile__add-button {
        min-width: 100%;
    }
}