.login__image {
  display: block;
  margin: 60px auto 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 630px) {
  .login__image {
    margin-top: 50px;
  }
}
