.login__signup {
  margin-top: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  gap: 5px;
  text-decoration: none;
}

@media screen and (max-width: 630px) {
  .login__signup {
    font-size: 12px;
    line-height: 15px;
  }
}
