.profile__info {
    display: flex;
    max-width: 610px;
    justify-content: flex-start;
    margin: auto 165px auto 20px;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        max-width: 390px;
        margin: auto 70px auto 10px;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 0;
    }
}

@media screen and (max-width: 630px) {
    .profile__info {
        margin: 30px auto 36px;
    }
}