.content {
    max-width: 880px;
    margin: 0 auto;
    align-content: center;
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 660px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 580px;
    }
}

@media screen and (max-width: 630px) {
    .content {
        max-width: 282px;
    }
}