.popup__container_theme_edit {
    background: white;
    position: relative;
    width: 358px;
    padding: 0 36px 36px;
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width: 630px) {
    .popup__container_theme_edit {
        width: 238px;
        padding: 25px 22px;
    }
}