.header__login {
  visibility: visible;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  gap: 24px;
}

@media screen and (max-width: 630px) {
  .header__login {
    font-size: 14px;
    line-height: 17px;
  }
}
